@using Kendo.Mvc.UI
@using CRMSSystem.Core.View
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Systems </title>
    <link rel="stylesheet" href="~/Style/login.css">
</head>
<body>

    <div class="section">
        <div class="container">
            <div class="topTitleHead pb20">
               
            </div>
            <!----- Tabs ---->
            <div class="tabcontentdetails">
                <div id="FormsManagement" class="tabcontent" style="display: block">
                    <div class="align-center align-between pb20">
                        <h2>Forms Management</h2>
                        <div class="btnDiv">
                            <a href="#">@Html.ActionLink(" + Add New Form", "Create", "Forms")</a>
                        </div>
                    </div>
                    <div class="tableDiv" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>            

</html>

@(Html.Kendo().Grid<FormsViewModel>().Name("Formsgrid").Columns(columns =>
{
    columns.Bound(c => c.Name);
    columns.Bound(c => c.ParentFormName);
    columns.Bound(c => c.NavigateURL);
    columns.Bound(c => c.DisplayIndex);
    columns.Bound(c => c.FormAccessCode);

    columns.Template(c => { }).Title(string.Empty)
            .ClientTemplate(
               "<a href='" + Url.Action("Edit", "Forms") + "/#=Id#' class='btn btn-success'>Edit</a>" + " | " +  "<a href='" + Url.Action("Delete", "Forms") + "/#=Id#' class='btn btn-danger'>Delete</a>").Width(200);
})
    .ToolBar(t => t.Search())
    .Search(s=>

    {
        s.Field(t => t.Name);
        s.Field(t => t.ParentFormName);
        s.Field(t => t.NavigateURL);
        s.Field(t => t.DisplayIndex);
        s.Field(t => t.FormAccessCode);


    })

    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable(pageable=>
    {
        pageable.Refresh(true);
    })
    .NoRecords("No Record Found")
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .Sortable()
    .Filterable()
    .Groupable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .Model(model => model.Id(p => p.Id)).Read(read => read.Action("GetForms", "Forms"))
    .Update(update => update.Action("Edit", "Forms"))
    .Destroy(destroy => destroy.Action("Delete", "Forms"))
    .Create(create => create.Action("Create", "Forms"))
    .PageSize(5))

)
